* {
    box-sizing: border-box;
}

input[type=text],
input[type=email] {
    width: 100%;
    margin: 10px;
    text-align: center;
}

body {
    text-align: center;
}

.formik {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}